node_modules




# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log 



/dist
node_modules
/node_modules
uploads/*.jpg
uploads/*.png
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
clientside/node_modules/**
clientside/build/**
package-lock.json
yarn-lock.json
clientside/package-lock.json
clientside/yarn-lock.json
